@keyframes spin{
    0%{
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.app {
    background-color: #ffffff;
    transition: background-color 0.25s ease-out;
    display: flex;
    flex-direction: row;
}
.dark-mode {
    background-color: #10171e;
    transition: background-color 0.25s ease-in;
    color: #e1e8ed;
}

.sidebar {
    width: 60px;
    height: 100vh;
    overflow: hidden;
    background-color: #1B2938;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.columns {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* fontAwesomeIcons */
.Twitter {
    color: #2f95dc;
    position: relative;
    font-size: 1.5em;

}

.cog {

}

.cog:hover {
    color: #91DCF5;
    animation: spin 5s linear infinite;
}

.Suspended {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    text-align: center;
    border: solid #e1e8ed;
    border-width: 0 3px 0 4px;
}

.Deleted {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    text-align: center;
    border: solid #e1e8ed;
    border-width: 0 4px 0 3px;
}
.menu {
    color: #e1e8ed;
    position: absolute;
    left: 195%;
    top: -50%;
}
.settings {
    color: #2f95dc;
    font-size: 1.5em;
    position: absolute;
    bottom: 20px;
}
.theme {
    font-weight: 700;
    border: solid #e1e8ed;
    font-size: 16px;
    border-width: 4px 2px 0 0;
    outline: none;
    border-top-right-radius: 6px;
}
.theme:hover {
    color: #2f95dc;
}
.logout {
    font-weight: 700;
    border: solid #e1e8ed;
    font-size: 16px;
    border-width: 0 2px 0 0;
    outline: none;
}
.logout:hover {
    color: #2f95dc;
}


.p {
    border: solid #e1e8ed;
    border-width: 0 0 2px 0;
    padding: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 700;
    color: #38444D;
}
/* light color scheme (#83858A darks) Twitter blue #2f95dc, white #fff, light grey #ccc */
/* #e1e8ed seperator color */
