.app {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 100px;
    height: 100vh;
    overflow: hidden;
    background-color: #1B2938;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.columns {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Twitter {
    color: #2f95dc;
    position: relative;
    font-size: 1.5em;
}

.Suspended {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    text-align: center;
}

.Deleted {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    text-align: center;
}

.v1 {
    height: 500px;
    color: #e1e8ed;
    border-right: 6px #e1e8ed;
}

/* light color scheme (#83858A darks) Twitter blue #2f95dc, white #fff, light grey #ccc */
/* #e1e8ed seperator color */