.app {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.sidebar {
    height: 100%;
    width: 4%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1B2938;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Twitter {
    color: #2f95dc;
    position: relative;
    font-size: 1.5em;

}

.headerSuspended {
}

.Suspended {
    height: 100%;
    width: 50%;
    
}

.headerDeleted {

}

.Deleted {
    height: 100%;


}

.v1 {
    height: 500px;
    color: #e1e8ed;
    border-right: 6px #e1e8ed;
}

/* light color scheme (#83858A darks) Twitter blue #2f95dc, white #fff, light grey #ccc */
/* #e1e8ed seperator color */